<div class="card bg-secondary">
    <div class="card-header bg-primary">
        <div class="d-flex justify-content-between">
            <div class="text-white">
                Admin
            </div>
            <input type="hidden" name="csrfToken" id="csrfToken" value="<%= csrfToken %>">
            <div>
                <button type="button" class="btn btn-dark btn-sm" id="btnAddAdmin">Add Admin</button>
            </div>
        </div>
    </div>
    <div class="card-body bg-white">
        <% if (successMessage && successMessage[0] !=undefined ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>
                <%= successMessage[0] %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <% if (errorMessage && errorMessage[0] !=undefined ) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i>
                        <%= errorMessage[0] %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Username</th>
                                        <th>Email</th>
                                        <th>AllowedF</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="data"></tbody>
                                </tbody>
                            </table>
                        </div>
    </div>
</div>
<div id="viewModal" style="display: none;"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
    integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% scripts=` %>
    <script>
        $("#btnAddAdmin").on('click', function (e) {
            e.preventDefault()
            $.ajax({
                url: '/getAddAdmin',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrfToken").val(),
                },
                success: function (response) {
                    $("#viewModal").html(response.view).show()
                    $("#addAdminModal").modal('show')
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        })
        let dataTable = null;

        function getDataAdmin() {
            if (dataTable !== null) {
                dataTable.destroy();
            }
            dataTable = $('#dataTable').DataTable({
                "order": [[0, 'asc']],
                "searching": true,
                "ajax": {
                    "url": "/getDataAdmin",
                    "dataType": "json",
                    "type": 'post',
                    "data": {
                        _csrf: $("#csrfToken").val()
                    },
                    "dataSrc": function (data) {
                        let res = [];
                        for (let i = 0; i < data.data.length; i++) {
                            let row = data.data[i];
                            let rowData = {
                                "ID": row.ID,
                                "Number": i + 1,
                                "Username": row.Username + ' (' + row.Role + ')',
                                "Email": row.Email,
                                "AllowedF": row.AllowedF,
                            };
                            res.push(rowData);
                        }
                        return res;
                    }
                },
                "columns": [
                    { "data": "Number" },
                    { "data": "Username" },
                    { "data": "Email" },
                    {
                        "data": null,
                        render: function (data, type, row) {
                            return '<span class="badge' + (row['AllowedF'] == 1 ? 'text-bg-success' : 'text-bg-danger') + '"> ' + (row['AllowedF'] == 1 ? 'Active' : 'Not Active') + '</span>'
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            let formHtml = '';
                            formHtml += '<button class="btn btn-primary mr-3" onclick="accessAdmin(' + row.ID + ')">Access</button>';
                            formHtml += '<button class="btn btn-info mr-3" onclick="editAdmin(' + row.ID + ')">Edit</button>';
                            formHtml += '<button class="btn btn-danger ml-3" onclick="deleteAdmin(' + row.ID + ')">Delete</button>';
                            return '<div class="d-flex align-items-center justify-content-center">' + formHtml + '</div>';
                        }
                    }
                ]
            });
        }
        function accessAdmin(ID) {
            $.ajax({
                url: '/getAccessAdmin',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrfToken").val(),
                    ID,
                },
                success: function (response) {
                    $("#viewModal").html(response.view).show()
                    $("#accessAdminModal").modal('show')
                }, error: function (a, b, c) {
                    alert(c)
                }
            })
        }
        function editAdmin(ID) {
            $.ajax({
                url: '/getEditAdmin',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrfToken").val(),
                    ID,
                },
                success: function (response) {
                    $("#viewModal").html(response.view).show()
                    $("#editAdminModal").modal('show')
                }, error: function (a, b, c) {
                    alert(c)
                }
            })
        }
        function deleteAdmin(ID) {
            $.ajax({
                url: '/getDeleteAdmin',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrfToken").val(),
                    ID
                },
                success: function (response) {
                    $("#viewModal").html(response.view).show()
                    $("#deleteAdminModal").modal('show')
                }, error: function (a, b, c) {
                    alert(c)
                }
            })
        }
        $(document).ready(function () {
            getDataAdmin();
        });
    </script>
    <% ` %>