<div class="card bg-secondary">
    <div class="card-header bg-primary">
        <div class="d-flex justify-content-between">
            <div class="text-white">
                Gatcha
            </div>
            <div class="">
                <% if(role) { %>
                    <% if(role.Role=='Leader' ) { %>
                        <button type="button" class="btn btn-secondary" id="btnGatcha">Hadiah Gatcha</button>
                        <% } %>
                            <% } %>
                                <!-- <button type="button" class="btn btn-secondary" id="btnNew">New quest</button> -->
                                <input type="hidden" name="csrfToken" id="csrfToken" value="<%= csrfToken %>">
            </div>
        </div>
    </div>
    <div class="card-body bg-white">
        <% if (successMessage && successMessage[0] !=undefined ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>
                <%= successMessage[0] %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <% if (errorMessage && errorMessage[0] !=undefined ) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i>
                        <%= errorMessage[0] %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <form autocomplete="off" class="row g-3">
                            <?= csrf_field() ?>
                            <div class="col-md-2">
                                <label for="player_level" class="form-label">Gatcha Loyalty</label>
                                <select class="form-select fw-bold" style="width: 100%;" name="player_level"
                                    id="player_level">
                                    <option value="">ALL</option>
                                    <option value="Bronze">Bronze</option>
                                    <option value="Silver">Silver</option>
                                    <option value="Gold">Gold</option>
                                    <option value="Platinum">Platinum</option>
                                    <option value="Diamond">Diamond</option>
                                </select>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" id="btnFilter">Filter</button>
                            </div>
                        </form>
    </div>
    <div class="card-body bg-white">
        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered table-hover" style="width:100%">
                <thead>
                    <tr id="header">
                        <th>#</th>
                        <th>Loyalty</th>
                        <th>Hadiah</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="data"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="viewModal" style="display: none;"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
    integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% scripts=` %>
    <script async>
        let dataTable = null;
        function getDataQuest() {
            if (dataTable !== null) {
                dataTable.destroy();
            }
            dataTable = $('#dataTable').DataTable({
                "order": [[0, 'asc']],
                "searching": false,
                "lengthChange": false,
                "pageLength": 10,
                "paging": false,
                "ajax": {
                    "url": "/getDataGatcha",
                    "dataType": "json",
                    "type": 'post',
                    "data": {
                        _csrf: $("#csrfToken").val(),
                        // status: $('#status').val()
                    },
                    "dataSrc": function (data) {
                        let res = [];
                        for (let i = 0; i < data.data.length; i++) {
                            let row = data.data[i];
                            let prize = row.Prize.split(',')
                            let probability = row.Probability.split(',')
                            let prizeString = [];

                            for (let i = 0; i < prize.length; i++) {
                                prizeString.push(prize[i] + ' (<strong>' + probability[i] + '%</strong>)');
                            }

                            let finalString = prizeString.join('<br>');
                            let startDate = new Date(row.CDate);
                            let endDate = new Date(row.Last_Date);

                            const format = (d) => {

                                let date = new Date(d);
                                date = new Date(date.toLocaleString("en-US", { timeZone: "Asia/Jakarta" }));
                                date.setDate(date.getDate());

                                let day = ('0' + date.getDate()).slice(-2);
                                let month = ('0' + (date.getMonth() + 1)).slice(-2);
                                let year = date.getFullYear();

                                return day + "-" + month + "-" + year;
                            };

                            let startStr = format(startDate);
                            let endStr = format(endDate);
                            let approveDate = row.ApproveDate ? format(new Date(row.ApproveDate)) : ''

                            let timeRange = startStr + ' - ' + endStr;

                            let rowData = {
                                "ID": row.ID,
                                "Number": i + 1,
                                "Loyalty": row.Level,
                                "Prize": finalString,
                                'Role': data.role[0].Role,
                            };
                            res.push(rowData);
                        }
                        return res;
                    }
                },
                "columns": [
                    { "data": "Number" },
                    { "data": "Loyalty" },
                    { "data": "Prize" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            let button = ''
                            return button
                        }
                    }
                ]
            });
        }
    </script>
    <script>
        $("#btnFilter").on('click', function (e) {
            e.preventDefault()
            getDataQuest()
        })

        $("#btnGatcha").on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            if ($this.data('clicked')) return;
            $this.data('clicked', true);
            $.post('/getNewGatcha', {
                _csrf: $('#csrfToken').val()
            }, function (data) {
                $('#viewModal').html(data.view);
                $('#viewModal').show();
                $('#newModal').modal('show');
                $this.data('clicked', false);
            }).fail(function () {
                $this.data('clicked', false);
            });
        });

        $(document).ready(function () {
            getDataQuest()
        })

        function updateQuest(id, status) {
            $.ajax({
                url: '/getUpdateQuest',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $('#csrfToken').val(),
                    id,
                    status
                },
                beforeSend: function () {
                    $('.btn').attr('disabled', 'disabled')
                },
                success: function (response) {
                    console.log(response)
                    $('.btn').removeAttr('disabled', 'disabled')
                    $('#viewModal').html(response.view).show();
                    $('#confirmationModal').modal('show');
                },
                error: function (a, b, c) { alert(c) }
            })
        }
    </script>
    <% ` %>