<div class="card bg-secondary">
    <div class="card-header bg-primary">
        <div class="d-flex justify-content-between">
            <div class="text-white">
                List Player
            </div>
            <div class="">
                <button type="button" class="btn btn-secondary" id="btnNew">Daftar Baru</button>
                <input type="hidden" name="csrfToken" id="csrfToken" value="<%= csrfToken %>">
            </div>
        </div>
    </div>
    <div class="card-body bg-white">
        <% if (successMessage && successMessage[0] !=undefined ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>
                <%= successMessage[0] %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <% if (errorMessage && errorMessage[0] !=undefined ) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i>
                        <%= errorMessage[0] %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <form autocomplete="off" class="row g-3">
                            <?= csrf_field() ?>
                            <div class="col-md-6">
                                <label class="form-label">Tanggal Daftar</label>
                                <div class="input-group mb-3">
                                    <input type="text" class="form-control" id="startDate">
                                    <span class="input-group-text bg-primary text-white fw-bold">-</span>
                                    <input type="text" class="form-control" id="endDate">
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label for="player_level" class="form-label">Player Loyalty</label>
                                <select class="form-select fw-bold" style="width: 100%;" name="player_level"
                                    id="player_level">
                                    <option value="">ALL</option>
                                    <option value="Bronze">Bronze</option>
                                    <option value="Silver">Silver</option>
                                    <option value="Gold">Gold</option>
                                    <option value="Platinum">Platinum</option>
                                    <option value="Diamond">Diamond</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <label for="username" class="form-label">Username</label>
                                <input type="text" class="form-control" id="username">
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary" id="btnFilter">Filter</button>
                            </div>
                        </form>
    </div>
    <div class="card-body bg-white">
        <div class="table-responsive">
            <table id="dataTable" class="table table-bordered table-hover" style="width:100%">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Username</th>
                        <th>Loyalty</th>
                        <th>Tanggal Daftar</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="data"></tbody>
            </table>
        </div>
    </div>
</div>
<div id="viewModal" style="display: none;"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
    integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% scripts=` %>
    <script async>
        let dataTable = null;

        function getDataPlayer() {
            if (dataTable !== null) {
                dataTable.destroy();
            }
            dataTable = $('#dataTable').DataTable({
                "order": [[0, 'asc']],
                "searching": false,
                "ajax": {
                    "url": "/getDataPlayer",
                    "dataType": "json",
                    "type": 'post',
                    "data": {
                        _csrf: $("#csrfToken").val(),
                        loyalty: $('#player_level').val(),
                        username: $('#username').val(),
                        startDate: $('#startDate').val(),
                        endDate: $('#endDate').val()
                    },
                    "dataSrc": function (data) {
                        let res = [];
                        for (let i = 0; i < data.data.length; i++) {
                            let row = data.data[i];
                            let startDate = new Date(row.CreatedDate);
                            const format = (d) => {

                                let date = new Date(d);
                                date = new Date(date.toLocaleString("en-US", { timeZone: "Asia/Jakarta" }));
                                date.setDate(date.getDate());

                                let day = ('0' + date.getDate()).slice(-2);
                                let month = ('0' + (date.getMonth() + 1)).slice(-2);
                                let year = date.getFullYear();
                                let hours = ('0' + date.getHours()).slice(-2);
                                let minutes = ('0' + date.getMinutes()).slice(-2);
                                let seconds = ('0' + date.getSeconds()).slice(-2);
                                return day + "-" + month + "-" + year + " " + hours + ":" + minutes + ":" + seconds;
                            };
                            let regisDate = row.CreatedDate ? format(startDate) : '';
                            let rowData = {
                                "ID": row.ID,
                                "Number": i + 1,
                                "Username": row.Username,
                                "Loyalty": row.Loyalty,
                                "CDate": regisDate,
                                "CUserID": row.Admin,
                            };
                            res.push(rowData);
                        }
                        return res;
                    }
                },
                "columns": [
                    { "data": "Number" },
                    { "data": "Username" },
                    { "data": "Loyalty" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            let result = row['CDate'];
                            if (row['CUserID'] != null) {
                                result += '<br><span class="text-primary">Admin: ' + row['CUserID'] + '</span>';
                            }
                            return result;
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            let formHtml = '';
                            formHtml += '<button class="btn btn-info mr-3" onclick="resetPlayer(' + row.ID + ')">Reset Password</button>';
                            return '<div class="d-flex align-items-center justify-content-center">' + formHtml + '</div>';
                        }
                    }
                ]
            });
        }
    </script>
    <script>
        $("#btnFilter").on('click', function (e) {
            e.preventDefault()
            getDataPlayer()
        })

        function resetPlayer(id) {
            var $this = $(this);
            if ($this.data('clicked')) return;
            $this.data('clicked', true);
            $.post('/getResetPlayer', {
                _csrf: $('#csrfToken').val(), id
            }, function (data) {
                $('#viewModal').html(data.view);
                $('#viewModal').show();
                $('#resetPlayerModal').modal('show');
                $this.data('clicked', false);
            }).fail(function () {
                $this.data('clicked', false);
            });
        }

        $("#btnNew").on('click', function (e) {
            e.preventDefault();
            var $this = $(this);
            if ($this.data('clicked')) return;
            $this.data('clicked', true);
            $.post('/getNewRegister', {
                _csrf: $('#csrfToken').val()
            }, function (data) {
                $('#viewModal').html(data.view);
                $('#viewModal').show();
                $('#addPlayerModal').modal('show');
                $this.data('clicked', false);
            }).fail(function () {
                $this.data('clicked', false);
            });
        });

        $(document).ready(function () {
            getDataPlayer()
            jQuery('#startDate').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                lang: 'id',
                onSelectDate: function (currentDate) {
                    const startDate = $('#startDate').val();
                    jQuery('#endDate').datetimepicker({
                        timepicker: false,
                        format: 'd/m/Y',
                        lang: 'id',
                        minDate: currentDate
                    });
                }
            }).attr('readonly', true);

            jQuery('#endDate').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                lang: 'id'
            }).attr('readonly', true);
        })
    </script>
    <% ` %>