<div class="card bg-secondary text-white">
    <div class="card-header bg-primary">
        <div class="d-flex justify-content-between">
            <div>
                Upload Leaderboard Rank
                <input type="hidden" name="csrf" id="csrf" value="<%= csrfToken %>">
            </div>
            <div>
                <a href="/getTemplate" class="btn btn-dark btn-sm" id="btnTemplateLeaderboard">Template Upload
                </a>
                <button type="button" class="btn btn-dark btn-sm" id="btnUploadLeaderboard">Upload
                    XLSX</button>
            </div>
        </div>
    </div>
    <div class="card-body bg-white text-black">
        <% if (successMessage && successMessage[0] !=undefined ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>
                <%= successMessage[0] %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <% if (errorMessage && errorMessage[0] !=undefined ) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i>
                        <%= errorMessage[0] %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <% if(!bracket){ %>
                            <div class="alert alert-danger" role="alert">
                                Bracket Link Belum Terdaftar
                            </div>
                            <% } %>
                                <div class="d-flex justify-content-between">
                                    <div>
                                        <button type="button" class="btn btn-primary" id="btnTop50">Top Wager</button>
                                        <button type="button" class="btn btn-primary" id="btnTopSlot">Top Slot</button>
                                        <button type="button" class="btn btn-primary" id="btnTopCasino">Top
                                            Casino</button>
                                        <button type="button" class="btn btn-primary" id="btnTopWD">Top WD</button>
                                    </div>
                                    <div>
                                        <a class="btn btn-primary" id="btnDownloadTop200" href="/getDataTop200">Download
                                            Top
                                            200</a>
                                    </div>
                                </div>
                                <hr>
                                <div class="data mt-3">
                                    <div class="card-body" id="cardData">
                                        <div id="loader">
                                            <div class="d-flex justify-content-center">
                                                <div class="spinner-border text-primary" role="status">
                                                    <span class="visually-hidden">Loading...</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div id="dataTop"></div>
                                    </div>
                                </div>
    </div>
</div>
<div class="modal fade text-white" id="uploadXslxModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title">Upload XLSX</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="formUpload" method="post" action="/upload-xslx-process-leads" enctype="multipart/form-data">
                <div class="modal-body">
                    <% if(!bracket){ %>
                        <div class="alert alert-danger" role="alert">
                            Bracket Link Belum Terdaftar
                        </div>
                        <% } %>
                            <div class="row" id="uploadField">
                                <div class="col">
                                    <label for="">Upload XSLX</label>
                                    <input type="file" name="xslx" id="xslx" class="form-control" required>
                                    <div class="invalid-feedback" id="errXslx"></div>
                                </div>
                            </div>
                </div>
                <div class="modal-footer">
                    <% if(bracket){ %>
                        <button type="submit" class="btn btn-primary" id="btnUpload">Upload</button>
                        <% } %>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="progressModal" tabindex="-1" aria-labelledby="NewModal" data-bs-backdrop="static"
    aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h5 class="modal-title" id="NewModal">Uploading File : <%= session.FileName %>
                </h5>
            </div>
            <div class="modal-body">
                <link
                    href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
                    rel="stylesheet">
                <style>
                    .step-wizard {
                        font-family: "Poppins", sans-serif;
                    }

                    .step-wizard {
                        width: 100%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    .step-wizard-list {
                        background: #fff;
                        box-shadow: 0 15px 25px rgba(0, 0, 0, 0.1);
                        color: #333;
                        list-style-type: none;
                        border-radius: 10px;
                        display: flex;
                        padding: 20px 10px;
                        position: relative;
                        z-index: 10;
                        width: 100%;
                    }

                    .step-wizard-item {
                        padding: 0 15px;
                        flex-basis: 0;
                        -webkit-box-flex: 1;
                        -ms-flex-positive: 1;
                        flex-grow: 1;
                        max-width: 100%;
                        display: flex;
                        flex-direction: column;
                        text-align: center;
                        min-width: 100px;
                        position: relative;
                    }

                    .step-wizard-item+.step-wizard-item:after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 19px;
                        background: #21d4fd;
                        width: 100%;
                        height: 2px;
                        transform: translateX(-50%);
                        z-index: -10;
                    }

                    .progress-count {
                        height: 40px;
                        width: 40px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        border-radius: 50%;
                        font-weight: 600;
                        margin: 0 auto;
                        position: relative;
                        z-index: 10;
                        color: transparent;
                    }

                    .progress-count:after {
                        content: "";
                        height: 40px;
                        width: 40px;
                        background: #21d4fd;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        border-radius: 50%;
                        z-index: -10;
                    }

                    .progress-count:before {
                        content: "";
                        height: 10px;
                        width: 20px;
                        border-left: 3px solid #fff;
                        border-bottom: 3px solid #fff;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -60%) rotate(-45deg);
                        transform-origin: center center;
                    }

                    .progress-label {
                        font-size: 14px;
                        font-weight: 600;
                        margin-top: 10px;
                    }

                    .current-item .progress-count:before,
                    .current-item~.step-wizard-item .progress-count:before {
                        display: none;
                    }

                    .current-item~.step-wizard-item .progress-count:after {
                        height: 10px;
                        width: 10px;
                    }

                    .current-item~.step-wizard-item .progress-label {
                        opacity: 0.5;
                    }

                    .current-item .progress-count:after {
                        background: #fff;
                        border: 2px solid #21d4fd;
                    }

                    .current-item .progress-count {
                        color: #21d4fd;
                        background-color: red;
                        animation: blink 1.4s infinite;
                    }
                </style>
                <div class="row mt-3">
                    <div class="col-lg">
                        <div class="step-wizard">
                            <ul class="step-wizard-list">
                                <li class="step-wizard-item" id="processTop50">
                                    <span class="progress-count">1</span>
                                    <span class="progress-label">Memproses Top 50</span>
                                </li>
                                <li class="step-wizard-item" id="processGame">
                                    <span class="progress-count">2</span>
                                    <span class="progress-label">Memproses Game</span>
                                </li>
                                <li class="step-wizard-item" id="processWD">
                                    <span class="progress-count">3</span>
                                    <span class="progress-label">Memproses Withdraw</span>
                                </li>
                                <li class="step-wizard-item" id="calculating">
                                    <span class="progress-count">4</span>
                                    <span class="progress-label">Update Peringkat</span>
                                </li>
                                <li class="step-wizard-item" id="finishAll">
                                    <span class="progress-count">7</span>
                                    <span class="progress-label">Selesai</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="dataNotFound mb-3" style="display: none;">
                    <span>List Player Not Found</span>
                    <div class="table-responsive p-2 bg-white">
                        <table class="table table-stripped compact" id="tableNotFound" width="100%">
                            <thead>
                                <th>No</th>
                                <th>Player</th>
                                <th>Status</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="dataTOMinus" style="display: none;">
                    <span>List Player With Minus Turnover</span>
                    <div class="table-responsive p-2 bg-white">
                        <table class="table table-stripped compact" id="tableTOMinus" width="100%">
                            <thead>
                                <th>No</th>
                                <th>Player</th>
                                <th>Status</th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer" style="display: none;">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" id="btnClose">Close</button>
            </div>
        </div>
    </div>
</div>
<div id="viewModal" style="display: none;"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
    integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% scripts=` %>
    <script>
        function top200() {
            $.ajax({
                url: '/getDataTop200',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrf").val(),
                },
                beforeSend: function () {
                    $("#loader").show()
                },
                success: function (response) {
                    $("#loader").hide()
                    // $("#dataTop").html(response.view)
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        }

        function top50() {
            $.ajax({
                url: '/getDataTop50',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrf").val(),
                },
                beforeSend: function () {
                    $("#loader").show()
                    $("#btnTop50").focus()
                },
                success: function (response) {
                    $("#loader").hide()
                    $("#dataTop").html(response.view)
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        }

        $("#btnTop50").on('click', function (e) {
            $("#dataTop").empty()
            e.preventDefault()
            top50()
        })

        $("#btnTopSlot").on('click', function (e) {
            $("#dataTop").empty()
            dataTable.ajax.reload();
            e.preventDefault()
            $.ajax({
                url: '/getDataTopSlot',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrf").val(),
                },
                beforeSend: function () {
                    $("#loader").show()
                },
                success: function (response) {
                    $("#loader").hide()
                    $("#dataTop").html(response.view)
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        })

        $("#btnTopCasino").on('click', function (e) {
            $("#dataTop").empty()
            e.preventDefault()
            $.ajax({
                url: '/getDataTopCasino',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrf").val(),
                },
                beforeSend: function () {
                    $("#loader").show()
                },
                success: function (response) {
                    $("#loader").hide()
                    $("#dataTop").html(response.view)
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        })

        $("#btnTopWD").on('click', function (e) {
            $("#dataTop").empty()
            e.preventDefault()
            $.ajax({
                url: '/getDataTopWD',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrf").val(),
                },
                beforeSend: function () {
                    $("#loader").show()
                },
                success: function (response) {
                    $("#loader").hide()
                    $("#dataTop").html(response.view)
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        })

        let intervalID;
        let isUploading = false;
        function checkUploadingStatus(uploading) {
            if (!uploading) {
                return;
            } else {
                progressUpload()
            }
        }
        let progressUploading = ''

        function progressUpload() {
            $.ajax({
                url: '/getUploadLeadsProcess',
                type: 'POST',
                dataType: 'json',
                data: {
                    _csrf: $("#csrf").val()
                },
                success: function (response) {
                    let percentage = response.percentage * 100;
                    if (percentage != 100) {
                        if (response.errMsg.length > 0) {
                            $(".modal-dialog").addClass('modal-lg');
                            let table = $('#tableNotFound').DataTable();

                            if (!$.fn.DataTable.isDataTable('#tableNotFound')) {
                                table = $('#tableNotFound').DataTable({
                                    responsive: true,
                                    autoWidth: false
                                });
                            }

                            let existingPlayers = new Set();
                            table.rows().every(function () {
                                let data = this.data();
                                existingPlayers.add(data[1]);
                            });

                            let no = table.rows().count() + 1;

                            response.errMsg.forEach((err) => {
                                if (err.player && !existingPlayers.has(err.player)) {
                                    existingPlayers.add(err.player);
                                    table.row.add([
                                        no++,
                                        err.player,
                                        err.message
                                    ]).draw(false);
                                }
                            });

                            $('.dataNotFound').show();
                        }
                        if (response.errMinus.length > 0) {
                            $(".modal-dialog").addClass('modal-lg');
                            let table = $('#tableTOMinus').DataTable();

                            if (!$.fn.DataTable.isDataTable('#tableTOMinus')) {
                                table = $('#tableTOMinus').DataTable({
                                    responsive: true,
                                    autoWidth: false
                                });
                            }

                            let existingPlayers = new Set();
                            table.rows().every(function () {
                                let data = this.data();
                                existingPlayers.add(data[1]);
                            });

                            let no = table.rows().count() + 1;

                            response.errMinus.forEach((err) => {
                                if (err.player && !existingPlayers.has(err.player)) {
                                    existingPlayers.add(err.player);
                                    table.row.add([
                                        no++,
                                        err.player,
                                        err.message
                                    ]).draw(false);
                                }
                            });

                            $('.dataTOMinus').show();
                        }
                        $('#uploadXslxModal').modal('hide');
                        $('#progressModal').modal('show');
                    }
                    if (response.progress) {
                        if (!response.progress.all) {
                            if (!response.progress.game && !response.progress.top50) {
                                if (progressUploading == '') {
                                    progressUploading = 'Top 50'
                                    $("#processTop50").addClass('current-item')
                                }
                            } else if (response.progress.top50 && !response.progress.game) {
                                // $("#finishTop50").addClass('current-item')
                                if (progressUploading != 'Game') {
                                    progressUploading = 'Game'
                                    $("#processTop50").removeClass('current-item')
                                    // $("#finishTop50").removeClass('current-item')
                                    $("#processGame").addClass('current-item')
                                } else {
                                    $("#processTop50").removeClass('current-item')
                                    // $("#finishTop50").removeClass('current-item')
                                    $("#processGame").addClass('current-item')
                                }
                            } else if (response.progress.top50 && response.progress.game) {
                                $("#processGame").removeClass('current-item')
                                // $("#finishGame").addClass('current-item')
                                if (progressUploading != 'Calculating') {
                                    progressUploading = 'Calculating'
                                    // $("#finishGame").removeClass('current-item')
                                    $("#calculating").addClass('current-item')
                                }
                            }
                            isUploading = true;
                        } else {
                            $("#processTop50").removeClass('current-item')
                            $("#finishTop50").removeClass('current-item')
                            $("#processGame").removeClass('current-item')
                            $("#finishGame").removeClass('current-item')
                            $("#calculating").removeClass('current-item')
                            $('.modal-footer').show();
                            clearInterval(intervalID);
                            isUploading = false;
                        }
                        // if (response.progress.all) {
                        // }
                    }
                    checkUploadingStatus(isUploading);
                },
                error: function (xhr, status, error) {
                    console.log(error);
                }
            });
        }

        $('#btnClose').click(function (e) {
            window.location.reload()
        })

        $(document).ready(function () {

            progressUpload();
            top50()
        });
        $("#btnUploadLeaderboard").on('click', function (e) {
            e.preventDefault()
            $("#uploadXslxModal").modal('show')
        })
    </script>
    <% ` %>