<div class="card bg-secondary text-white">
    <div class="card-header bg-primary">
        <div class="d-flex justify-content-between">
            Luckyspin Prize
            <input type="hidden" name="csrf" id="csrf" value="<%= csrfToken %>">
        </div>
    </div>
    <div class="card-body bg-white">
        <% if (successMessage && successMessage[0] !=undefined ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>
                <%= successMessage[0] %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <% if (errorMessage && errorMessage[0] !=undefined ) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i>
                        <%= errorMessage[0] %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <p class="text-danger">
                            Setiap Level Prize Wajib Diisi Minimal 1 Prize
                        </p>
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>Level Hadiah</th>
                                    <th>Deskripsi</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><strong>GrandPrize</strong></td>
                                    <td>Hadiah Utama Prize yang paling sulit didapatkan.</td>
                                </tr>
                                <tr>
                                    <td><strong>RarePrize</strong></td>
                                    <td>Hadiah Rare yang sulit didapatkan, berada di atas CommonPrize.</td>
                                </tr>
                                <tr>
                                    <td><strong>CommonPrize</strong></td>
                                    <td>Hadiah biasa yang berada di atas BasicPrize.</td>
                                </tr>
                                <tr>
                                    <td><strong>BasicPrize</strong></td>
                                    <td>Hadiah yang paling banyak muncul dan sering didapatkan di dalam Pizza luckyspin.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
    </div>
    <hr>
    <div class="card-body bg-white text-black">
        <form class="loyaltyFilter">
            <label for="">Loyalty</label>
            <div class="row">
                <div class="col-md-6">
                    <select name="Loyalty" id="Loyalty" class="form-select">
                        <option value="Bronze">Bronze</option>
                        <option value="Silver">Silver</option>
                        <option value="Gold">Gold</option>
                        <option value="Platinum">Platinum</option>
                        <option value="Diamond">Diamond</option>
                    </select>
                </div>
                <div class="col mb-3">
                    <button class="btn btn-primary" id="btnFilterLoyalty">Filter</button>
                </div>
            </div>
        </form>
        <hr>
        <div class="d-flex justify-content-between">
            <div></div>
            <div>
                <button type="button" class="btn btn-primary" id="btnAddPrize">Tambah Prize</button>
            </div>
        </div>
        <div id="dataTablePrize"></div>
    </div>
</div>
<div id="viewModal" style="display: none;"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
    integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% scripts=` %>
    <script>
        $(document).ready(function () {
            getDataPrize();
        });
        function getDataPrize(Loyalty = 'Bronze') {
            $.ajax({
                url: '/getDataPrize',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrf").val(),
                    Loyalty
                },
                beforeSend: function () {
                    $("#dataTablePrize").html('')
                },
                success: function (response) {
                    $("#dataTablePrize").html(response.view)
                    let thisMax = response.thisMax
                    if (thisMax == 'true') {
                        $("#btnAddPrize").hide()
                    } else {
                        $("#btnAddPrize").show()
                    }
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        }
        $("#btnFilterLoyalty").on('click', function (e) {
            e.preventDefault()
            getDataPrize($('#Loyalty').val())
        })
        $("#btnAddPrize").on('click', function (e) {
            $.ajax({
                url: '/getAddPrize',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrf").val(),
                },
                success: function (response) {
                    $("#viewModal").html(response.view).show()
                    $("#addPrizeModal").modal('show')
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        })
    </script>
    <% ` %>