<div class="card bg-secondary text-white">
    <div class="card-header bg-primary">
        <div class="d-flex justify-content-between">
            <div>
                Daily Reward Prize
            </div>
            <div>
                <input type="hidden" name="csrf" id="csrf" value="<%= csrfToken %>">
                <button class="btn btn-info btn-sm" id="btnAddPeriode">Add Period Daily Reward</button>
            </div>
        </div>
    </div>
    <div class="card-body bg-white">
        <% if (successMessage && successMessage[0] !=undefined ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>
                <%= successMessage[0] %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <% if (errorMessage && errorMessage[0] !=undefined ) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i>
                        <%= errorMessage[0] %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <form class="formFilter mb-3">
                            <div class="row">
                                <div class="col text-black">
                                    <label for="">Start Date</label>
                                    <input type="date" id="StartDate" name="StartDate" class="form-control bg-white">
                                </div>
                                <div class="col text-black">
                                    <label for="">End Date</label>
                                    <input type="date" id="EndDate" name="EndDate" class="form-control bg-white">
                                </div>
                                <div class="col text-black">
                                    <label for="">Status</label>
                                    <select name="Status" id="Status" class="form-select bg-white">
                                        <option value="">- Status -</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                        <div id="dataTableDailyReward"></div>
    </div>
    <div id="viewModal" style="display: none;"></div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
    integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(".formDailyReward").on('submit', function (e) {
        e.preventDefault()
        $.ajax({
            url: '/daily_rewardNew',
            type: 'post',
            dataType: 'json',
            data: $(this).serialize(),
            beforeSend: function () { },
            success: function (response) {
                if (response.error) {
                    if (response.error.Username) {
                        $("#errUsername").html(response.error.Username)
                        $("#username").addClass('is-invalid')
                    } else {
                        $("#errUsername").html('')
                        $("#username").removeClass('is-invalid')
                    }
                    if (response.error.Password) {
                        $("#errPassword").html(response.error.Password)
                        $("#password").addClass('is-invalid')
                    } else {
                        $("#errPassword").html('')
                        $("#password").removeClass('is-invalid')
                    }
                } else {
                    window.location.href = response.redirect
                }
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    })
</script>
<% scripts=` %>
    <script>
        $(document).ready(function () {
            getDataPeriodeDailyReward();
        });
        function getDataPeriodeDailyReward(Loyalty = 'Bronze') {
            $.ajax({
                url: '/getDataPeriodeDailyReward',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrf").val(),
                    Loyalty
                },
                beforeSend: function () {
                    $("#dataTableDailyReward").html('')
                },
                success: function (response) {
                    $("#dataTableDailyReward").html(response.view)
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        }
        $("#btnAddPeriode").on('click', function () {
            $.ajax({
                url: '/getAddPeriodeDailyReward',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrf").val(),
                },
                beforeSend: function () {
                    $('#btnAddPeriode').attr('disabled', 'disabled')
                },
                success: function (response) {
                    $('#btnAddPeriode').removeAttr('disabled')
                    if (response.view) {
                        $("#viewModal").html(response.view).show()
                        $("#addPeriodeDailyRewardModal").modal('show')
                    }
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        })
    </script>
    <% ` %>