<div class="card bg-secondary text-white">
    <div class="card-header bg-primary">
        <div class="d-flex justify-content-between">
            <div>
                Level Up History
                <input type="hidden" name="csrfToken" id="csrfToken" value="<%= csrfToken %>">
            </div>
        </div>
    </div>
    <div class="card-body bg-white text-black">
        <% if (successMessage && successMessage[0] !=undefined ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>
                <%= successMessage[0] %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <% if (errorMessage && errorMessage[0] !=undefined ) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i>
                        <%= errorMessage[0] %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <div class="row">
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="start_date" class="form-label">Start Date</label>
                                    <input type="text" class="form-control" id="start_date" readonly autocomplete="off">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="start_date" class="form-label">End Date</label>
                                    <input type="text" class="form-control" id="end_date" readonly autocomplete="off">
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="mb-3">
                                    <label for="status" class="form-label">Status Approval</label>
                                    <select class="form-select text-white" id="ApprovalStatus" name="ApprovalStatus"
                                        aria-label="Default select example">
                                        <option value="">All</option>
                                        <option value="Pending" selected>Pending</option>
                                        <option value="Approved">Approved</option>
                                        <option value="Rejected">Rejected</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <br>
                                <button type="button" class="btn btn-primary mt-2" id="btnFilter">Filter</button>
                            </div>
                        </div>
                        <hr>
                        <div class="data mt-3">
                            <div class="card-body" id="cardData">
                                <div id="loader" style="display: none;">
                                    <div class="d-flex justify-content-center">
                                        <div class="spinner-border text-primary" role="status">
                                            <span class="visually-hidden">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="table-responsive">
                                    <table id="dataTable" class="table table-bordered table-hover" style="width:100%">
                                        <thead>
                                            <tr>
                                                <th class="text-center">#</th>
                                                <th class="text-center">Username</th>
                                                <th class="text-center">From Level</th>
                                                <th class="text-center">Level Up To</th>
                                                <th class="text-center">Bonus Level Up</th>
                                                <th class="d-flex justify-content-center">
                                                    <div id="actionBtn" style="display: none;">
                                                        <button class="btn btn-info btn-sm"
                                                            onclick="confirmAllPrize('Approved')">Approve All</button>
                                                        <button class="btn btn-warning btn-sm"
                                                            onclick="confirmAllPrize('Rejected')">Reject All</button>
                                                    </div>
                                                    <div id="action" style="display: none;">
                                                        Action
                                                    </div>
                                                </th>
                                            </tr>
                                        </thead>
                                        <tbody id="data" class="text-center"></tbody>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
    </div>
</div>

<div id="viewModal" style="display: none;"></div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
    integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% scripts=` %>
    <script>
        let levelUpTable = null;
        function getDataLevelUp() {
            if (levelUpTable !== null) {
                levelUpTable.destroy();
            }
            let startDate = $('#start_date').val()
            let endDate = $('#end_date').val()
            let ApprovalStatus = $('#ApprovalStatus').val()

            levelUpTable = $('#dataTable').DataTable({
                "order": [[0, 'asc']],
                "searching": true,
                "ordering": false,
                "ajax": {
                    "url": "/getLevelUp",
                    "dataType": "json",
                    "type": 'post',
                    "data": {
                        _csrf: $("#csrfToken").val(),
                        startDate,
                        endDate,
                        status: ApprovalStatus
                    },
                    "dataSrc": function (data) {
                        let res = [];
                        let pending = 0;
                        for (let i = 0; i < data.data.length; i++) {
                            let row = data.data[i];
                            if (row.ApprovalStatus == "Pending") {
                                pending++;
                            }
                            let rowData = {
                                "ID": row.ID,
                                "Number": i + 1,
                                "Username": row.Username,
                                "CurrentLevel": row.CurrentLevel,
                                "LevelUpTo": row.LevelUpTo,
                                "Prize": row.Prize,
                                "ApprovalStatus": row.ApprovalStatus,
                                "ApprovedBy": row.Admin,
                                "Remarks": row.Remarks
                            };
                            res.push(rowData);
                        }
                        if (data.data.length == 0 || pending == 0) {
                            $('#action').show();
                            $('#actionBtn').hide();
                        } else {
                            $('#action').hide();
                            $('#actionBtn').show();
                        }
                        return res;
                    }
                },
                "columns": [
                    { "data": "Number" },
                    { "data": "Username" },
                    { "data": "CurrentLevel" },
                    { "data": "LevelUpTo" },
                    {
                        "data": "Prize",
                        "render": function (data, type, row) {
                            return Number(data).toLocaleString('ID-id')
                        }
                    },
                    {
                        "data": null,
                        orderable: false,
                        searchable: false,
                        "render": function (data, type, row) {
                            let formHtml = '';
                            if (row.ApprovalStatus == "Pending") {
                                formHtml += '<button class="btn btn-info mr-3" onclick="confirmPrize(' + row.ID + ',\'Approved\')">Approve</button>';
                                formHtml += '<button class="btn btn-danger ml-3" onclick="confirmPrize(' + row.ID + ',\'Rejected\')">Reject</button>';
                                return '<div class="d-flex align-items-center justify-content-center">' + formHtml + '</div>';
                            } else {
                                formHtml += row.ApprovalStatus + '<br>by <b>' + row.ApprovedBy + '</b>';
                                if (row.ApprovalStatus == 'Rejected') {
                                    formHtml += '<br>' + 'Remarks: ' + row.Remarks
                                }
                                return formHtml
                            }
                        }
                    }
                ]
            });
        }

        function confirmPrize(id, status) {
            $.ajax({
                url: '/confirmationLevelUp',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrfToken").val(),
                    id,
                    status
                },
                beforeSend: function () { },
                success: function (response) {
                    if (response.error) {
                        alert(response.error)
                    } else {
                        $("#viewModal").html(response.view).show()
                        $("#confirmationModal").modal('show')
                    }
                }
            })
        }

        function confirmAllPrize(status) {
            let startDate = $("#startDate").val();
            let endDate = $("#endDate").val();
            $.ajax({
                url: '/confirmationAllLevelUp',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrfToken").val(),
                    startDate,
                    endDate,
                    status
                },
                beforeSend: function () { },
                success: function (response) {
                    if (response.error) {
                        alert(response.error)
                    } else {
                        $("#viewModal").html(response.view).show()
                        $("#confirmationAllModal").modal('show')
                    }
                }
            })
        }

        // function approvedPrize(id, approve) {
        //     $.ajax({
        //         url: '/approveLevelUp',
        //         type: 'post',
        //         dataType: 'json',
        //         data: {
        //             _csrf: $("#csrfToken").val(),
        //             id,
        //             approve
        //         },
        //         beforeSend: function () { },
        //         success: function (response) {
        //             console.log(response)
        //             dataTable.ajax.reload(null, false);
        //         },
        //         error: function (a, b, c) { alert(c) }
        //     })
        // }

        $(document).ready(function () {
            jQuery('#start_date').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                lang: 'id',
                onSelectDate: function (currentDate) {
                    const startDate = $('#start_date').val();
                    jQuery('#end_date').datetimepicker({
                        timepicker: false,
                        format: 'd/m/Y',
                        lang: 'id',
                        minDate: currentDate
                    });
                }
            });

            jQuery('#end_date').datetimepicker({
                timepicker: false,
                format: 'd/m/Y',
                lang: 'id'
            });
            getDataLevelUp();
            $('#btnFilter').click(function (e) {
                e.preventDefault()
                getDataLevelUp()
            })
        });
    </script>
    <% ` %>