<div class="modal fade" id="addCouponModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Coupon</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="formSubmit">
                <input type="hidden" name="csrf" id="csrf" value="<%= csrfToken %>">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Loyalty</label>
                            <select name="LoyaltySelect" id="LoyaltySelect" class="form-select">
                                <option value="">- Pilih Loyalty -</option>
                                <option value="Bronze">Bronze</option>
                                <option value="Silver">Silver</option>
                                <option value="Gold">Gold</option>
                                <option value="Platinum">Platinum</option>
                                <option value="Diamond">Diamond</option>
                            </select>
                            <div class="invalid-feedback" id="errLoyaltySelect"></div>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Username Player</label>
                            <select id="Username" style="width: 100%;" name="Username" class="form-control"></select>
                            <div class="invalid-feedback" id="errUsername"></div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" class="btnSubmit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    $('#Username').select2({
        placeholder: 'Type for searching...',
        ajax: {
            url: '/checkPlayer',
            dataType: 'json',
            type: 'post',
            delay: 250,
            data: function (params) {
                let Loyalty = $('#LoyaltySelect').val()
                if (!Loyalty) {
                    $("#errLoyaltySelect").text('Loyalty is required')
                    $("#LoyaltySelect").addClass('is-invalid')
                } else {
                    $("#errLoyaltySelect").text('')
                    $("#LoyaltySelect").removeClass('is-invalid')
                    return {
                        _csrf: $("#csrf").val(),
                        Username: params.term,
                        Loyalty: $('#LoyaltySelect').val()
                    };
                }
            },
            processResults: function (data) {
                return {
                    results: data.map(function (item) {
                        return {
                            id: item.text,
                            text: item.text
                        };
                    })
                };
            },
            cache: true
        },
        minimumInputLength: 3,
        dropdownParent: $('#addCouponModal')
    });

    $(".formSubmit").on('submit', function (e) {
        e.preventDefault()
        $.ajax({
            url: '/addCoupon',
            type: 'post',
            dataType: 'json',
            data: {
                _csrf: $("#csrf").val(),
                Loyalty: $("#LoyaltySelect").val(),
                Username: $("#Username").val(),
            },
            beforeSend: function () {
                $('#btnSubmit').attr('disabled', 'disabled')
            },
            success: function (response) {
                $('#btnSubmit').removeAttr('disabled')
                if (response.error) {
                    if (response.error.Loyalty) {
                        $("#errLoyaltySelect").text(response.error.Loyalty)
                        $("#LoyaltySelect").addClass('is-invalid')
                    } else {
                        $("#errLoyaltySelect").text('')
                        $("#LoyaltySelect").removeClass('is-invalid')
                    }
                    if (response.error.Username) {
                        $("#errUsername").text(response.error.Username)
                        $("#Username").addClass('is-invalid')
                    } else {
                        $("#errUsername").text('')
                        $("#Username").removeClass('is-invalid')
                    }
                } else {
                    window.location.reload()
                }
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    })
</script>