<div class="card bg-secondary">
    <div class="card-header bg-primary">
        <div class="d-flex justify-content-between">
            <div class="text-white">
                Banner
            </div>
            <input type="hidden" name="csrfToken" id="csrfToken" value="<%= csrfToken %>">
            <div>
                <button type="button" class="btn btn-dark btn-sm" id="btnAddBanner">Add Banner</button>
            </div>
        </div>
    </div>
    <div class="card-body bg-white">
        <% if (successMessage && successMessage[0] !=undefined ) { %>
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>
                <%= successMessage[0] %>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            <% } %>
                <% if (errorMessage && errorMessage[0] !=undefined ) { %>
                    <div class="alert alert-danger alert-dismissible fade show" role="alert">
                        <i class="fa fa-exclamation-circle me-2"></i>
                        <%= errorMessage[0] %>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    <% } %>
                        <div class="table-responsive">
                            <table id="dataTable" class="table table-bordered table-hover" style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Name</th>
                                        <th>Banner</th>
                                        <th>Active Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="data"></tbody>
                                </tbody>
                            </table>
                        </div>
    </div>
</div>
<div id="viewModal" style="display: none;"></div>
<div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-dark" id="imageModalLabel">Image Preview</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <img id="modalImage" src="" alt="banner" class="img-fluid">
            </div>
        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.8.1/socket.io.js"
    integrity="sha512-8BHxHDLsOHx+flIrQ0DrZcea7MkHqRU5GbTHmbdzMRnAaoCIkZ97PqZcXJkKZckMMhqfoeaJE+DNUVuyoQsO3Q=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<% scripts=` %>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var imageModal = document.getElementById('imageModal');
            imageModal.addEventListener('show.bs.modal', function (event) {
                var button = event.relatedTarget;
                var imageUrl = button.getAttribute('data-bs-image');
                var modalImage = document.getElementById('modalImage');
                modalImage.src = imageUrl;
            });
        });
        $("#btnAddBanner").on('click', function (e) {
            e.preventDefault()
            $.ajax({
                url: '/getAddBanner',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrfToken").val(),
                },
                success: function (response) {
                    $("#viewModal").html(response.view).show()
                    $("#addBannerModal").modal('show')
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        })
        let dataTable = null;

        function getDataBanner() {
            if (dataTable !== null) {
                dataTable.destroy();
            }
            dataTable = $('#dataTable').DataTable({
                "order": [[0, 'desc']],
                "searching": true,
                "ajax": {
                    "url": "/getDataBanner",
                    "dataType": "json",
                    "type": 'post',
                    "data": {
                        _csrf: $("#csrfToken").val()
                    },
                    "dataSrc": function (data) {
                        let res = [];
                        for (let i = 0; i < data.data.length; i++) {
                            let row = data.data[i];
                            let rowData = {
                                "ID": row.ID,
                                "Number": i + 1,
                                "Name": row.Name,
                                "ImageBanner": row.Image_Banner,
                                "ImageMobile": row.Image_Mobile,
                                "AllowedF": row.AllowedF,
                            };
                            res.push(rowData);
                        }
                        return res;
                    }
                },
                "columns": [
                    { "data": "Number" },
                    { "data": "Name" },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            let imageBanner = '';
                            imageBanner += '<img src="' + row.ImageBanner + '" alt="banner" title="desktop banner" class="img-fluid" style="max-width: 100px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="' + row.ImageBanner + '">';
                            imageBanner += '<img src="' + row.ImageMobile + '" alt="banner" title="mobile banner" class="img-fluid" style="max-width: 100px; cursor: pointer;" data-bs-toggle="modal" data-bs-target="#imageModal" data-bs-image="' + row.ImageMobile + '">';
                            return '<div class="d-flex align-items-center justify-content-between">' + imageBanner + '</div>';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            let badgeClass = row.AllowedF == 1 ? 'text-bg-success' : 'text-bg-danger';
                            let badgeText = row.AllowedF == 1 ? 'Active' : 'Not Active';
                            return '<span class="badge ' + badgeClass + '" style="cursor: pointer;" onclick="updateStatus(' + row.ID + ')">' + badgeText + '</span>';
                        }
                    },
                    {
                        "data": null,
                        "render": function (data, type, row) {
                            let formHtml = '';
                            formHtml += '<button class="btn btn-danger ml-3" onclick="deleteBanner(' + row.ID + ')">Delete</button>';
                            return '<div class="d-flex align-items-center justify-content-center">' + formHtml + '</div>';
                        }
                    }
                ]
            });
        }

        function updateStatus(ID) {
            $.ajax({
                url: '/updateStatusBanner',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrfToken").val(),
                    ID
                },
                success: function (response) {
                    if (response.logout) {
                        window.location.href = response.logout;
                    } else {
                        dataTable.ajax.reload(null, false);
                    }
                }, error: function (a, b, c) {
                    alert(c)
                }
            })
        }
        function deleteBanner(ID) {
            $.ajax({
                url: '/getDeleteBanner',
                type: 'post',
                dataType: 'json',
                data: {
                    _csrf: $("#csrfToken").val(),
                    ID
                },
                success: function (response) {
                    $("#viewModal").html(response.view).show()
                    $("#deleteBannerModal").modal('show')
                }, error: function (a, b, c) {
                    alert(c)
                }
            })
        }
        $(document).ready(function () {
            getDataBanner();
        });
    </script>
    <% ` %>