<div class="modal fade" id="addPeriodeDailyRewardModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content bg-secondary">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">New Daily Reward Period</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="formSubmit">
                <input type="hidden" name="_csrf" id="_csrf" value="<%= csrfToken %>">
                <div class="modal-body">
                    <div class="row mb-3">
                        <div class="col">
                            <label for="">Start Date</label>
                            <input type="date" class="form-control bg-white" id="StartDateForm" name="StartDateForm"
                                min="">
                            <div id="errStartDate" class="invalid-feedback"></div>
                        </div>
                    </div>
                    <div class="row" id="endDate" style="display: none;">
                        <div class="col">
                            <label>End Date</label>
                            <input type="text" class="form-control" id="EndDateForm" name="EndDateForm" readonly>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary" class="btnSubmit">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        const today = new Date().toISOString().split("T")[0];
        document.getElementById("StartDateForm").setAttribute("min", today);
    });
    $("#StartDateForm").on('change', function () {
        let startDateValue = $(this).val();
        if (startDateValue) {
            let startDate = new Date(startDateValue);
            if (!isNaN(startDate.getTime())) {
                let endDate = new Date(startDate);
                endDate.setDate(startDate.getDate() + 6);
                let day = String(endDate.getDate()).padStart(2, '0');
                let month = String(endDate.getMonth() + 1).padStart(2, '0');
                let year = endDate.getFullYear();
                let formattedEndDate = `${day}-${month}-${year}`;
                $("#endDate").show();
                $("#EndDateForm").val(formattedEndDate);
            } else {
                $("#endDate").hide();
                $("#EndDateForm").val('');
            }
        } else {
            $("#endDate").hide();
            $("#EndDateForm").val('');
        }
    });

    $(".formSubmit").on('submit', function (e) {
        e.preventDefault()
        $.ajax({
            url: '/addPeriodeDailyReward',
            type: 'post',
            dataType: 'json',
            data: $(this).serialize(),
            beforeSend: function () {
                $('#btnSubmit').attr('disabled', 'disabled')
            },
            success: function (response) {
                $('#btnSubmit').removeAttr('disabled')
                if (response.error) {
                    if (response.error.StartDate) {
                        $("#errStartDate").text(response.error.StartDate)
                        $("#StartDateForm").addClass('is-invalid')
                    } else {
                        $("#errStartDate").text('')
                        $("#StartDateForm").removeClass('is-invalid')
                    }
                } else {
                    window.location.reload()
                }
            },
            error: function (a, b, c) {
                alert(c)
            }
        })
    })
</script>