<div class="modal fade" id="newModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg  modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Hadiah Gatcha
                </h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form action="/newGatcha" class="formSubmit" method="post">
                <input type="hidden" name="_csrf" id="csrf" value="<%= csrfToken %>">
                <input type="text" id="maxQuest" value="<%= maxQuest %>" hidden>
                <div class="modal-body">
                    <div id="globalErr" class="text-danger mt-1 mb-3 text-center fw-bold" style="display: none;"></div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="mb-3">
                                <label for="loyalty" class="form-label">Hadiah Loyalty</label>
                                <select class="form-select fw-bold text-white" style="width: 100%;" name="level"
                                    id="loyalty">
                                    <option value="Bronze">Bronze</option>
                                    <option value="Silver">Silver</option>
                                    <option value="Gold">Gold</option>
                                    <option value="Platinum">Platinum</option>
                                    <option value="Diamond">Diamond</option>
                                </select>
                                <div id="errQuest" class="invalid-feedback"></div>
                            </div>
                        </div>
                    </div>

                    <hr class="bg-primary">
                    <div class="row">
                        <div class="col">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-md-8 mb-3">
                                    <label>Hadiah</label>
                                </div>
                                <div class="col-md-2 mb-3">
                                    Persentase
                                </div>
                                <div class="col-md-2 mb-3">

                                </div>
                            </div>
                            <div id="errPrize" class="invalid-feedback mb-3"></div>
                            <div id="quest-block" class="mb-3"></div>

                            <button type="button" class="btn btn-info btn-sm btn-block mb-3 w-100"
                                id="addQuestButton">Tambah Hadiah</button>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-primary" id="btnProcess">Simpan</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function getGatcha() {
        $.ajax({
            url: '/getDataGatcha',
            type: 'post',
            dataType: 'json',
            data: {
                loyalty: $('#loyalty').val(),
                _csrf: $('#csrf').val()
            },
            beforeSend: function () {
                $('#quest-block').empty()
            },
            success: function (response) {
                console.log(response)

                if (response.data.length > 0) {
                    let result = response.data[0]
                    console.log(result)
                    let html = ''
                    let prizes = result.Prize.split(',')
                    let probabilities = result.Probability.split(',')

                    for (let i = 0; i < prizes.length; i++) {
                        html += `
                        
                        <div class="row justify-content-center align-items-center">
                            <div class="col-md-8 mb-3">
                                <input type="text" class="form-control fw-bold text-white" name="prize" id="prize" value="${prizes[i]}" placeholder = "Hadiah" autocomplete="off">
                            </div>
                            <div class="col-md-2 mb-3">
                                <input type="text" class="form-control fw-bold text-white probability" name="probability" value="${probabilities[i]}" placeholder = "%" autocomplete="off" onkeyup="countPercentage()">
                            </div>
                            <div class="col-md-2 mb-3">
                                <button type="button" class="btn btn-danger btnHapusForm">Hapus</button>
                            </div>
                        </div>`
                        counterQuest += 1
                    }
                    $('#quest-block').append(html)
                }

                countPercentage()
            },
            error: function (a, b, c) { alert(c) }
        })
    }
    $('#loyalty').change(function () {
        $('#quest-block').empty();
        getGatcha()
    });
    $('#addQuestButton').click(function (e) {
        $(this).blur()
        e.preventDefault()
        let html =
            `
        <div class="row justify-content-center align-items-center">
            <div class="col-md-8 mb-3">
                <input type="text" class="form-control fw-bold text-white" name="prize" id="prize" placeholder = "Hadiah" autocomplete="off">
            </div>
            <div class="col-md-2 mb-3">
                <input type="text" class="form-control fw-bold text-white probability" name="probability" placeholder = "%" autocomplete="off" onkeyup="countPercentage()">
            </div>
            <div class="col-md-2 mb-3">
                <button type="button" class="btn btn-danger btnHapusForm">Hapus</button>
            </div>
        </div>
        `
        $('#quest-block').append(html)
        counterQuest += 1
    });

    function countPercentage() {
        let total = 0
        $('.probability').each(function () {
            let value = $(this).val()
            if (value != '') {
                total += parseInt(value)
            }
        })
        if (total > 100) {
            $('#errPrize').text('Total % tidak boleh lebih dari 100%').show()
            $('#btnProcess').hide()
            $('#addQuestButton').hide()
        } else {
            if (total == 100) {
                $('#addQuestButton').hide()
                $('#btnProcess').show()
            } else {
                $('#addQuestButton').show()
                $('#btnProcess').hide()
            }
            $('#errPrize').text('').hide()
        }
    }

    $(document).on('click', '.btnHapusForm', function () {
        $(this).closest('.row').remove();
        $('#addQuestButton').show()
        counterQuest -= 1
        countPercentage()
    });

    $(document).ready(function () {
        getGatcha()
        $('#btnProcess').hide()

        counterQuest = 0

        $('.formSubmit').submit(function (e) {
            e.preventDefault()
            let form = $(this)
            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                dataType: 'json',
                data: form.serialize(),
                beforeSend: function () {
                    $('#btnSubmit').attr('disabled', 'disabled')
                    $('#btnSubmit').html('<i class="fa fa-spin fa-spinner"></i>')
                },
                success: function (response) {
                    $('#btnSubmit').html('Simpan').removeAttr('disabled')
                    if (response.error) {
                        if (response.error.global) {
                            $("#globalErr").html(response.error.global).show()
                        } else {
                            $("#globalErr").text('').hide()
                        }
                    } else {
                        $('#newModal').modal('hide')
                        // dataTable.ajax.reload(null, false)
                        window.location.reload()

                    }
                },
                error: function (a, b, c) {
                    alert(c)
                }
            })
        })
    })
</script>